@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
@font-face {
	font-family: samarkan_____normal;
	src: url(./assets/fonts/SAMAN___.TTF);
  }
body,html {
	overflow-x:hidden;
}
img {
	border: none;
	max-width: 100%;
}
.logo-text{
	font-family: 'samarkan_____normal', Arial, sans-serif;
}

.rangrezz-hero-overlay {
	display: inline;
	float: left;
	opacity: 0.94;
	width: 100%;
}

.rangrezz-logo-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.rangrezz-logo {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 600;
	background: #fff;
	padding: 5px 20px;
	margin-bottom: 30px;
}


.rangrezz-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: black;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-menu-btn:hover,
.rangrezz-menu-btn:focus {
	border: 2px solid #fff;
}
.register-button
{
	color:white;
  border-radius:10px;
  padding:10px 30px;
  box-shadow:0 10px 10px -1px rgba(0,0,0,0.3);
  font-size:2vw;
  border:0px solid ;
  background-color:#ff4e00;
background-image:linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.register-button:hover
{
	background-color:#a1380a;	
	background-image:linear-gradient(315deg, #bb3c05 0%, #946303 74%);
}
@media(max-width:668px)
{
	.register-button
	{
		font-size:4vw;
	}
}
@media(max-width:390px)
{
	.register-button
	{
		font-size:6vw;
		padding:8px 15px
	}
}
canvas{
	background: transparent!important;
}
.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;

	border-radius: 27px;
	color: #fff;
	font: 700 14px/60px "Droid Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;
	text-decoration: none;
	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
	z-index: 1;
}
.btn-liquid:hover{
	text-decoration: none;
	color:#fff;
}

/*--------------------*/
/* MENU */
/*--------------------*/


#rangrezz-hero .navbar-default {
	background-color: #fff;
	border-color: #e7e7e7;
	padding: 5px 0;
}

.rangrezz-navbar {
	top: -150px;
	transition: all 0.5s;
}

.rangrezz-nav-show {
	top: 0px;
}

#rangrezz-hero .navbar-default .navbar-brand {
	padding: 15px 15px;
	font-size: 28px;
	line-height: 20px;
}

.rangrezz-navbar .rangrezz-menu li a {
	color: #333;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	color: #fff;
}

/*--------------------*/
/* ABOUT US */
/*--------------------*/
#rangrezz-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}
.master-box{
	margin-top: -15vh;
}
/*--------------------*/
/* VIDEO */
/*--------------------*/


#rangrezz-video {
	background-image: url("assets/images/video-parallax.jpg");
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-video-overlay {
	display: inline;
	float: left;
	opacity: 0.85;
	width: 100%;
}

.rangrezz-video-area {
	display: inline;
	float: left;
	padding: 200px 0;
	text-align: center;
	width: 100%;
}

.rangrezz-video-area h2 {
	color: #fff;
}

.rangrezz-video-content {
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-video-play-btn,
.rangrezz-video-close-btn {
	color: #fff;
	font-size: 22px;
	border: 2px solid #fff;
	border-radius: 50%;
	width: 60px;
	display: inline-block;
	height: 60px;
	line-height: 55px;
	text-align: center;
	margin-top: 100px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-video-play-btn:hover,
.rangrezz-video-play-btn:focus {
	color: #fff;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.rangrezz-video-close-btn {
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline-block;
	height: 50px;
	line-height: 45px;
	text-align: center;
	margin-top: 100px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	width: 50px;
}

.rangrezz-video-close-btn:hover,
.rangrezz-video-close-btn:focus {
	color: #fff;
	-webkit-transform: scale(1.2);
	        transform: scale(1.2);
}

.rangrezz-video-iframe-area {
	background-color: rgba(0,0,0,0.84);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 12% 0;
	text-align: center;
	z-index: 9999;
	display: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-video-iframe-display {
	display: block;
}

.rangrezz-video-iframe-area iframe {

}


/*--------------------*/
/* EVENT SCHEDULE */
/*--------------------*/

#rangrezz-schedule {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-schedule-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.rangrezz-schedule-content-area  {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.rangrezz-schedule-menu {
	text-align: center;
	border: none;
}


.rangrezz-schedule-menu li {
	float: none;
	display: inline-block;
}

.rangrezz-schedule-menu li a {
	border-radius: 0;
	margin: 0 10px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-schedule-menu li a:hover,
.rangrezz-schedule-menu li a:focus,
.rangrezz-schedule-menu li.active a,
.rangrezz-schedule-menu li.active a:hover,
.rangrezz-schedule-menu li.active a:focus {
	color: #fff;
}

.rangrezz-schedule-content{
	margin-top: 50px;
}

.rangrezz-event-timeline ul li {
	list-style-type: none;
	position: relative;
	width: 2px;
	margin: 0 auto;
	padding-top: 50px;
	background-color: #ddd;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-event-timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	height: 24px;
	width: 24px;
	border-radius: 50%;
	background: inherit;
}


.rangrezz-event-timeline ul li .rangrezz-single-event {
	background-color: #fff;
	-webkit-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	-moz-box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	box-shadow: 0 0 16px 0 rgba(32,32,47,0.16);
	position: relative;
	top: 0;
	width: 400px;
	padding: 15px;
	text-align: left;
}

.rangrezz-event-timeline ul li:nth-child(2n) .rangrezz-single-event {
	left: 50px;
}

.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event {
	left: -450px;
	text-align: right;
}

.rangrezz-event-timeline ul li .rangrezz-single-event img {
	height: 80px;
	width: 80px;
	float: left;
	border-radius: 50%;
	margin-right: 15px;
}

.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event img {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.rangrezz-event-timeline ul li .rangrezz-single-event::before {
	content: '';
	position: absolute;
	top: 23px;
	width: 0;
	height: 0;
	border-style: solid;
}

.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #fff;
}

.rangrezz-event-timeline ul li:nth-child(2n) .rangrezz-single-event::before {
	left: -16px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #fff transparent transparent;
}

.rangrezz-event-timeline ul li .rangrezz-single-event h3 {
	margin-bottom: 5px;
	font-size: 16px;
}

.rangrezz-event-timeline ul li .rangrezz-single-event p {
	margin-bottom: 5px;
}

.rangrezz-event-timeline ul li .rangrezz-single-event span {
	font-size: 12px;
}


/*--------------------*/
/* MINOR EVENTS*/
/*--------------------*/

#rangrezz-minor-events {
	background-color: #fff;
	display: inline;
	width: 100%;
}
.rangrezz-speakers-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}
.rangrezz-single-speakers {
	padding: 0 10px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.rangrezz-single-speakers img{
	height: 60vh;
}
.rangrezz-speakers-slider .slick-next {
	right: -60px;
}

.rangrezz-speakers-slider .slick-prev {
	left: -60px;
}
.rangrezz-single-speakers-info {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}
.rangrezz-single-speakers-info h3 {
	margin-bottom: 4px;
	font-size: 22px;
}
.rangrezz-single-speakers-info p {
	margin-bottom: 5px;
}
/*--------------------*/
/* VENUE */
/*--------------------*/

#rangrezz-venue {
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-venue-area {
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-venue-map {
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-venue-map iframe {
	margin-bottom: -8px;
}

.rangrezz-venue-address {
	display: inline;
	float: left;
	width: 100%;
	padding: 10% 5%;
	color: #fff;
}

.rangrezz-venue-address h2 i {
	margin-top: -4px;
	font-size: 22px;
	display: inline-block;
	vertical-align: middle;
}

.rangrezz-venue-address h3 {
	margin-top: 15px;
	margin-bottom: 0px;
}

.rangrezz-venue-address h4 {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 25px;
}


/*--------------------*/
/* PRICING */
/*--------------------*/


#rangrezz-pricing {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-pricing-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.rangrezz-pricing-conten {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.rangrezz-single-price {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	text-align: center;
	position: relative;
	width: 100%;
	padding: 15px;
	overflow: hidden;
}

.rangrezz-single-price-head {
	color: #555;
	display: inline;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.rangrezz-single-price-head .rangrezz-currency {
	font-weight: bold;
	font-size: 30px;
}

.rangrezz-single-price-head .rangrezz-rate {
	font-size: 60px;
	font-weight: bold;
	line-height: 0.9;
	letter-spacing: 3px;
}

.rangrezz-single-price-head .rangrezz-time {
	font-size: 16px;
	font-weight: 300;
	line-height: 0;
	font-style: italic;
}

.rangrezz-single-price .rangrezz-price-title {
	color: #555;
	font-size: 22px;
	padding: 10px 0;
}

.rangrezz-single-price ul {
	list-style: none;
}

.rangrezz-single-price ul li{
	list-style: none;
	color: #555;
}

.rangrezz-register-btn {
	background-color: #fff;
	border: 1px solid #555;
	color: #555;
	margin-top: 20px;
	padding: 10px 40px;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-register-btn:hover,
.rangrezz-register-btn:focus,
.rangrezz-popular-price .rangrezz-register-btn {
	color: #fff;
}

.rangrezz-popular-price .rangrezz-price-tag {
	color: #fff;
	display: inline-block;
	position: absolute;
	top: 15px;
	left: -62px;
	padding: 10px 60px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	transform: rotate(-45deg);
	text-align: center;
}

/*--------------------*/
/* REGISTER */
/*--------------------*/

#rangrezz-register {
	background-image: url("assets/images/register-bg.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#rangrezz-register::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.9;
}

.rangrezz-register-area {
	display: inline;
	float: left;
	padding: 150px 0;
	width: 100%;
}

.rangrezz-register-area .rangrezz-title,
.rangrezz-register-area p {
	color: #fff;
}

.rangrezz-register-content {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 200px;
	margin-top: 50px;
}

.rangrezz-register-form .form-group {
	margin-bottom: 25px;
}

.rangrezz-register-form .form-control {
	height: 50px;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
}

.rangrezz-register-form select.form-control option{
	color: #333;
}

.rangrezz-register-form .form-control::-webkit-input-placeholder {
	color: #fff;
	font-size: 15px;
}

.rangrezz-register-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #fff;
	font-size: 15px; 
}

.rangrezz-register-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size: 15px;
}

.rangrezz-register-form .form-control:-ms-input-placeholder {  
	color: #fff;
	font-size: 15px;
}

.rangrezz-reg-submit-btn {
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 12px 75px;
	margin-top: 20px;
	letter-spacing: 1px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


/*--------------------*/
/* SPONSORS */
/*--------------------*/

#rangrezz-sponsors {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.rangrezz-sponsors-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.rangrezz-sponsors-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.rangrezz-sponsors-single {
	background: #eee;
	display: inline;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
}


/*--------------------*/
/* FAQ */
/*--------------------*/

#rangrezz-faq {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.rangrezz-faq-area {
	display: inline;
	float: left;
	padding: 150px 0;
	width: 100%;
}

.rangrezz-faq-content {
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 150px;
	margin-top: 50px;
}

.rangrezz-faq-content .panel-default {
	border-radius: 0;
	border-color: #fff;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.06);
}

.rangrezz-faq-content .panel-default > .panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
	padding: 0;

}

.rangrezz-faq-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
	text-align: left;
}


.rangrezz-faq-content .panel-title {
	text-align: left;
	font-weight: 300;
}

.rangrezz-faq-content .panel-title a {
	display: block;
	padding: 12px 15px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.rangrezz-faq-content .panel-title a>span {
	margin-right: 5px;
}


/*--------------------*/
/* CONTACT US */
/*--------------------*/
#contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
	margin-top:8%;
}

.title-area{
	font-size:20px;
	display: inline;
	float: center;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}
.rangrezz-social-media {
	display: inline;
	float: left;
	margin-top: 2%;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
.rangrezz-social-media a {
	border: 2px solid #19191a;
	border-radius: 50px;
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	font-size: 25px;
}
.yt{
	background-color: red;
	color: white;
}
.fb{
	background-color: #2a2ae0;
	color: white;
}
.insta{
	background-color:#f09433;
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	color:white;
}
.mc img{
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.mc{
	height: 420px;
	width: 300px;
	margin: 2%;
	background: #eee;
	border: 4px solid maroon;
}
/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/
@media (max-width: 1199px) {
	.mc{
		width: 250px;
	}
	.cont{
		justify-content: center;
	}
	.rangrezz-register-content {
		padding: 0 150px;
	}

	.rangrezz-video-iframe-area {
		padding: 16% 0;
	}

	.rangrezz-video-close-btn {
		top: 5%;
		right: 5%;
		margin-top: 0;
	}

	.rangrezz-apps-screenshot-slider .slick-prev {
		left: -25px;
	}

	.rangrezz-apps-screenshot-slider .slick-next {
		right: -25px;
	}		
}
@media(max-width:1000px){
	.master-box{
		margin-top: -3vh;
	}
}
@media (max-width: 991px) {
	.mc{
		width: 250px;
	}
	.col-md-6{
		margin-top: 2%;
	}
	.rangrezz-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.rangrezz-navbar .rangrezz-menu {
		margin-top: 5px;
	}

	.rangrezz-navbar .rangrezz-menu li a {
		font-size: 15px;
		padding: 10px 6px;
	}

	.rangrezz-hero-featured-content h1 {
		font-size: 35px;
	}

	.rangrezz-hero-featured-content h2 {
		font-size: 18px;
	}

	.rangrezz-event-date-line {
		font-size: 14px;
	}

	.rangrezz-event-counter-block {
		height: 130px;
		width: 130px;
		font-size: 16px;
		margin: 0 10px;
	}

	.rangrezz-event-counter-block span {
		font-size: 30px;
		padding-top: 32px;
		line-height: 32px;
	}

	.rangrezz-event-timeline ul li {
		margin-left: 15%;
	}

	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event {
		left: 50px;
		text-align: left;
	}

	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event::before {
		right: auto;
		left: -16px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #fff transparent transparent;
	}

	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event img {
		float: left;
		margin-right: 15px;
		margin-left: 0;
	}

	.rangrezz-video-iframe-area {
		padding: 16% 5%;
	}

	.rangrezz-video-iframe-area iframe {
		width: 100%;
	}

	.rangrezz-title-area {
		padding: 0 50px;
	}

	.rangrezz-faq-content {
		padding: 0;
	}

	.rangrezz-contact-right {
		margin-top: 50px;
	}

	.rangrezz-menu-btn {
		right: 5%;
	}

	.rangrezz-speakers-slider .slick-next {
		right: 0;
	}

	.rangrezz-speakers-slider .slick-prev {
		left: 0;
	}

	.rangrezz-speakers-slider .slick-next,
	.rangrezz-speakers-slider .slick-prev {
		width: 40px;
		height: 40px;
	}

	.rangrezz-speakers-slider .slick-prev::before, 
	.rangrezz-speakers-slider .slick-next::before {
		font-size: 18px;
	}

	.rangrezz-single-speakers-info h3 {
		font-size: 18px;
	}

	.rangrezz-pricing-conten {
		padding: 0 5%;
	}

	.rangrezz-single-price {
		margin-bottom: 30px;
	}


		
}

@media (max-width: 767px) {
	.rangrezz-navbar .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.rangrezz-navbar .rangrezz-menu {
		padding: 0 15px;
	}		
}


@media (max-width: 640px){
	
	.rangrezz-event-counter-block {
		height: 100px;
		width: 100px;
		font-size: 15px;
	}

	.rangrezz-event-counter-block span {
		font-size: 22px;
		padding-top: 22px;
		line-height: 25px;
	}

	.rangrezz-title-area {
		padding: 0;
	}

	.rangrezz-video-iframe-area {
		padding: 5% 5%;
	}

	.rangrezz-video-iframe-area iframe {
		width: 100%;
		height: 100%;
	}

	.rangrezz-register-content {
		padding: 0 100px;
	}

	.rangrezz-contact-content {
		padding: 0 10%;
	}
				

}


@media (max-width: 480px) {

	body {
		font-size: 14px;
	}

	.rangrezz-logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.rangrezz-hero-featured-area {
		padding: 60px 0 60px;
	}

	.rangrezz-hero-featured-content {
		margin-top: 20px;
	}

	.rangrezz-hero-featured-content h1 {
		font-size: 25px;
	}

	.rangrezz-hero-featured-content h2 {
		font-size: 14px;
	}

	.rangrezz-event-date-line {
		font-size: 12px;
	}

	.rangrezz-event-counter-area {
		margin-top: 20px;
	}
	
	.rangrezz-event-counter-block span {
		font-size: 18px;
		padding-top: 16px;
		line-height: 20px;
	}

	.rangrezz-event-counter-block {
		height: 75px;
		width: 75px;
		font-size: 12px;
		margin: 0 5px;
	}
	
	.rangrezz-video-close-btn {
		top: 2%;
		right: 5%;
		height: 40px;
		line-height: 35px;
		width: 40px;
	}

	.rangrezz-menu-close-btn {
		right: 5%;
		top: 30px;
	}

	.rangrezz-video-area {
		padding: 100px 0;
	}

	.rangrezz-video-iframe-area {
		padding: 10% 5%;
	}

	.rangrezz-video-iframe-area iframe {
		height: 250px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.rangrezz-schedule-content {
		margin-top: 30px;
	}
	
	.rangrezz-schedule-menu li {
		margin-bottom: 15px;
	}

	.rangrezz-schedule-menu li a {
		font-size: 15px;
	}

	.rangrezz-event-timeline ul li {
		margin-left: 5%;
	}

	.rangrezz-event-timeline ul li .rangrezz-single-event,
	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event,
	.rangrezz-event-timeline ul li:nth-child(2n) .rangrezz-single-event {
		left: 30px;
		width: 350px;
	}

	.rangrezz-event-timeline ul li .rangrezz-single-event h3 {
		margin-bottom: 5px;
		font-size: 14px;
	}

	.rangrezz-venue-address h4 {
		font-size: 16px;
	}

	.rangrezz-register-content,
	.rangrezz-contact-content {
		padding: 0 5%;
	}

	.rangrezz-faq-content .panel-title {
		font-size: 14px;
	}
					
	
}


@media (max-width: 360px) {

	.rangrezz-logo img {
		width: 120px;
	}

	.rangrezz-hero-featured-area {
		padding: 30px 0 30px;
	}

	.rangrezz-event-counter-block {
		height: 56px;
		width: 56px;
		font-size: 10px;
	}

	.rangrezz-event-counter-block span {
		font-size: 16px;
		padding-top: 10px;
		line-height: 16px;
	}

	.rangrezz-video-area {
		padding: 50px 0;
	}

	.rangrezz-video-iframe-area {
		padding: 15% 5%;
	}

	.rangrezz-video-play-btn, .rangrezz-video-close-btn {
		font-size: 18px;
		width: 50px;
		height: 50px;
		line-height: 46px;
		margin-top: 50px;
	}

	h2 {
		font-size: 25px;
	}

	.rangrezz-event-timeline ul li .rangrezz-single-event, 
	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event, 
	.rangrezz-event-timeline ul li:nth-child(2n) .rangrezz-single-event {
		left: 30px;
		width: 280px;
	}
}



@media (max-width: 320px) {

	.rangrezz-video-iframe-area {
		padding: 30% 5%;
	}

	.rangrezz-event-timeline ul li .rangrezz-single-event, 
	.rangrezz-event-timeline ul li:nth-child(2n+1) .rangrezz-single-event, 
	.rangrezz-event-timeline ul li:nth-child(2n) .rangrezz-single-event {
		left: 30px;
		width: 250px;
	}

	h2 {
		font-size: 22px;
	}
}

#rangrezz-about{
	height: auto;
	width: 100vw;
	overflow: hidden;

}

.left-image-box{
	height: auto;
	width: 30%;
	float:left;
	margin-left: 3%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.left-image-box img{
	height: 400px;
	width: 400px;
	object-fit: cover;

}


.text-right{
	width: 60%;
	margin: 3%;
	float: right;
	margin-top: 5%;
}

.text-right p{
	font-family: 'Kurale', serif;
	font-size: 1.8rem;
	letter-spacing: 2px;
	word-spacing: 2px; 
	text-align: center;
	line-height: 1.8em;
	color: rgb(126, 126, 126);
}

.heading h1{
	text-align: center;
	font-family: 'Kurale',cursive;
	color: #2f2f2f;
	font-size: 6.5rem;
	letter-spacing: 3px;
	margin-top: 5%;
	margin-bottom: 5%;
}


@media (max-width: 1000px){
	.left-image-box{
		height: auto;
		width: 100vw;
		margin: 5%;
	}
	.left-image-box img{
		width: 90%;
		object-fit: cover;
	}
	.text-right{
		width: 90%;
		margin-left: 5%;
		float: none;
	}
	
	.text-right p{
		font-family: 'Kurale', serif;
		font-size: 1.8rem;
		letter-spacing: 1.5px;
		word-spacing: 2px; 
		text-align: center;
		line-height: 1.8em;
		color: rgb(126, 126, 126);
	}
}

@media (max-width: 750px){
	.left-image-box{
		height: auto;
		width: 100vw;
		margin: 5%;
	}
	.left-image-box img{
		width: 90%;
		object-fit: cover;
	}
	.text-right{
		width: 90%;
		margin: 5%;
		float: none;
	}
	
	.text-right p{
		font-family: 'Kurale', serif;
		font-size: 1.8rem;
		letter-spacing: 2px;
		word-spacing: 4px; 
		text-align: center;
		line-height: 1.8em;
		color: rgb(126, 126, 126);
	}
	
}

.image-logo{
    left:50%;
	width:38%;
	height:38%;
	top:12%;
	position:absolute;
	min-height:330.2px;
	min-width: 330.6px;
    transform: translate(-50%,20%);
    z-index: 5;
}
.image-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 5;
}
.timer-box{
	left:25%;
	width:50%;
	height:50%;
	top:75%;
	position:absolute;
	text-align:center;
	font-size:180%;
}

@media(max-width:668px)
{
	.timer-box
	{
		left:28%;
	width:40%;
	height:40%;
	top:75%;
	font-size:160%;
	}
	.image-logo{
		min-height:325.2px;
		min-width: 325.6px;
		top:25vh;
		width:40%;
	height:40%;
	transform: translate(-50%,0);
	}
}
@media(max-width:610px)
{
	.timer-box
	{
		left:25%;
	width:38%;
	height:38%;
	top:75%;
	font-size:155%;
	}
	.image-logo{
		min-height:320.2px;
		min-width: 320.6px;
		top:24%;
		width:50%;
	height:50%;
	}
}
@media(max-width:570px)
{
	.timer-box
	{
		left:16%;
	width:40%;
	height:40%;
	top:70%;
	font-size:130%;
	transform:translate(24%,15%);
	}
	.image-logo{
		min-height:320px;
		min-width: 333.6;
		top:24%;
		width:50%;
	height:50%;
	}
}
@media(max-width:520px)
{
	.timer-box
	{
	width:5vw;
	height:5vw;
	top:75%;
	font-size:150%;
	transform:translate(10vw);
	}
	.image-logo{
		min-height:262.2px;
		min-width: 333px;
		top:24vh;
	}
	
}
@media(max-width:500px)
{
	.timer-box
	{
	width:5vw;
	height:5vw;
	top:65%;
	font-size:150%;
	transform:translate(5vw,15vw);
	}
	.image-logo{
		min-height:240.2px;
		min-width: 333px;
		top:24vh;
	}
	
}
#time-1{
    background-color: #db0fd8;
}
#time-2{
    background-color: #e6a400;
}
#time-3{
    background-color: #eb6b09;
}
#time-4{
    background-color: #904de8;
}
#time-1,#time-2,#time-3,#time-4{
    margin-left: 1.8%;
    font-weight: 800;
    font-size: 110%;
    color: white;
    height: 100px!important;
    width: 20%;
    padding: 12px;
    border-radius: 1px; 
    font-family: 'Pinyon Script', cursive; 
    border-radius: 10px;
}
.logo{
	height: 5vw;
	width: 15vw;
	position: absolute;
	top: 10vh;
	left: 2vw;
	z-index: 0;
}
/*=================Timer Resp Ends===============*/
#particles-js{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.chitkara{
    position: relative;
    height: 10%;
    width: 12%;
    z-index: 99999;
    margin-top:1%;
    margin-left:87.2%;
}
.Home-page{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

}
.back-drop{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    top:0;
    left: 0;
    object-fit: contain;
    object-position: center;
}
.back-drop img{
	height: 100vh;
	width: 100vw;
}
/*=======================The Major Event Cards===================*/
#rangrezz-major-events {
	background-color: #fff;
	width: 100%;
	margin-bottom: 4vh;
}
#major-events{
	text-align: center;
	font-size: 6vw;
	font-weight: 600;
	font-family: 'samarkan_____normal', Arial, sans-serif; 
	padding-bottom: 2.5vh;
	animation:mycolor 3s infinite;
}
@keyframes mycolor{
	form{
		color:#000000;
	}
	to{
		color: maroon;
	}
}
.card{
	position: relative;
	margin: auto;
	top: 2vh;
	height: 400px;
	width: 325px;
	transform-style: preserve-3d(768px);
	perspective: 600px;
	border-radius: 3px;
	transition: 0.5s;
  }
  .card:hover .card-front1{
	transform: rotateZ(-180deg);
  }
  .card:hover .card-front2{
	transform: rotateZ(-180deg);
  }
  .card:hover .card-back{
	transform: rotateZ(0deg);
  }
  .card-front1{
	height: 100%;
	width: 100%;
	background-image: url(./assets/images/mjeve1.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
  }
  
  .card-front2{
	height: 100%;
	width: 100%;
	background-image: url(./assets/images/mjeve2.jpg);
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	backface-visibility: hidden;
	transform: rotateX(0deg);
	transition: 0.5s;
  }
  .card-back{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #000000;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;
	color: #ffffff;
	text-align: center;
  }
  .card-back span{
	  font-size: 3.5vh;
  }
  .card-back h2{
	margin: 3% auto 35% auto;
	font-size: 2.5vw;
  }
  .card-back a {
	text-decoration: none;
	font-size: 4.5vh;
  }
  .card-back a:hover{
	  text-decoration: none;
	  color: red;
  }
  .row{
	  margin-left: 5vw;
  }