@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
body{
    background-color: rgb(124, 4, 10);
    color: white;
    width: 73%;
}
.heading{
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
}
.container{
    background-color: #b1161d;
    border: 2px solid rgb(97, 49, 160);
    padding: 2.3vh;
    border-radius: 8px;
    height: auto;
    width: 24vw;
}
.img-1 img{
    width: 100%;
    height: 95%;
}