@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
body{
    background-color: gray;
}
.heading{
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    color: yellowgreen;
}
.container{
    background-image: radial-gradient(#00f260,#0575e6);
    border: 2px solid orange;
    padding: 2.3vh;
    border-radius: 8px;
    height: auto;
    width: 24vw;
}
.img-1 img{
    width: 100%;
}